.favorite {
    position: absolute;
    transform: translateX(calc(-100% - 46px));
    cursor: pointer;
    top: 10px;
}

.favorite > img {
    transition: all 200ms linear;
}

.favorite > img:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .favorite {
        position: relative;
        transform: none;
        margin-bottom: 20px;
    }
}