.product-image {
    float: left;
    position: absolute;
    left: 0;
}

.product-store {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    float: right;
    width: 553px;
}

.product-store > .title {
    font-size: 25px;
    margin-bottom: 98px;
}

.product-store > .values {
    font-size: 20px;
    margin-bottom: 28px;
}

.product-store > .values.-rating {
    margin-left: 10px;
}

.product-store > .values:last-of-type {
    margin-bottom: 72px;
}

.product-store > .description {
    font-size: 18px;
    margin-bottom: 32px;
}

.product-store > .description.-last {
    margin-bottom: 98px;
}

.product-store > .description a{
    text-decoration: none;
    color: #ffffff;
}

.product-store > .button {
    display: inline-block;
}