.wrap-product {
    display: inline-block;
    width: 500px;
    vertical-align: middle;
    position: relative;
}

.wrap-product > .buttons {
    position: absolute;
    transform: translateY(calc(100% + 70px));
}

@media (max-height: 728px) {
    .wrap-product > .buttons {
        transform: translateY(calc(100% + 16px));
    }
}