.wrap-product {
    display: inline-block;
    width: 465px;
    vertical-align: middle;
    position: relative;
}

.wrap-product > .buttons {
    position: absolute;
    transform: translateY(calc(100% + 70px));
}

@media (max-height: 728px) {
    .wrap-product > .buttons {
        transform: translateY(calc(100% + 16px));
    }
}


@media (max-width: 1232px) {
    .wrap-product {
        display: block;
        margin: 0 auto;
    }

    .wrap-product > .buttons {
        transform: translateY(100%);
    }
}

@media (max-width: 768px) {
    .wrap-product {
        width: 70%;
    }
}

@media (max-width: 675px) {
    .wrap-product > .buttons {
        transform: none;
        margin-top: 30px;
        position: relative;
    }
}